/* .topnav {
    font-family: font sans;
    font-size: large;
    color: white;
    list-style-type: none;
} */

.section {
    font-family: font sans;
    width: 600px;
    background-color: white;
    font-size: large;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
}

.headers {
    font-size: larger;
    font-family: font sans;
    color: white;
    font-weight: bold;
}

