.topnav {
    font-family: font sans;
    font-size: large;
    color: white;
    list-style-type: none;
}

.section {
    font-family: font sans;
    width: 600px;
    background-color: #2a607c;
    font-size: large;
    color: white;
}

.headers {
    font-family: font sans;
    color: white;
}

#email {
    background-color: goldenrod;
    color: white;
}

#github {
    background-color: lightsteelblue;
    color: white;
}

#portfolio {
    background-color: darkorange;
    color: white;
}
