a,a:visited {
    color: white;
    text-decoration: none;
}
header {
    text-align: center;
    color: white; 
    background: #2a607c;   
    width: 100%;

}

.header {
    font-family: font-sans;
    font-size: large;
    padding: 20px; 
    background-color: #2a607c;
    color: #ffffff;
}

.header nav {
    text-align: left;
    font-family: font-sans;
    font-size: 30px;
    scale: border 100px 100px 100px 100px;
}

/*The headers navigation bar list type*/
.header nav ul {
    list-style-type: none;
}

/*The headers navigation bar display and margin position*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


main {
    width: 150px;
    font-family: font-sans;
    text-align: left;
    color: black; 
    background: white;   
    padding: 40px;
    width: 100%;
    display: flex;
}

.aboutMe {
    width: 40%;
}

.me {
    width: 30%;
    object-fit: scale-down;
}