.topnav {
  font-family: font sans;
  font-size: large;
  color: white;
  list-style-type: none;
}

body{
  display: flex;
  flex-wrap: wrap;
}
.section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 33%;
    color: white;
    background-color:#2a607c ;
    display: grid;
  }
   
  .section img:hover {
    margin: 0;
    width: 40%;
    height: 90%;
  }

  .wrapper {
    width: 400px;
    display: grid;
    flex-wrap: wrap;
  }
  .wrapper > div {
    flex: 1 1 150 px
  }
  
  
  
  
  
  