.section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px;
    height: 300px;
    color: white;
    background-color:#2a607c ;
    display: grid;
  }
  .wrapper {
    width: 400px;
    display: grid;
    flex-wrap: wrap;
  }
  .wrapper > div {
    flex: 1 1 150 px
  }
  
  
  
  
  